body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: #161616;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
